<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function()
{	
  var i = 0;
      
			var cc=setInterval(function(){myTime()},500 );
		
			function myTime()
			{
				if(i == 109)
				{
					i = 0;
				}
				i = parseInt(i)+1; 
				url = "/result/"+i;
               			$.get(url, function(data, status)
               			{       
					console.log(data);
					if(i>21)
					{
						 $("#tab tr:eq(1)").fadeOut(500,function()
                                                 {
                                                        $("#tab tr:eq(1)").remove();
                                                 });
					}	
					                  var s=data["sex"];
					                  var ind=data["unique"];
					                  var y=data["year"];
                        		var row = $("<tr>")
        	               		row.append($("<td>" + ind + "</td>"));
                	       		row.append($("<td>" + s + "</td>"));
                        		row.append($("<td>" + y + "</td>"));
                   			
					$("#tab").append(row);
					row.fadeIn(500);
               		 	});
			}					

})
</script>
<style>
        .center {
    margin-left: 25%;
    margin-right: 40%;
    margin-top: 20%;
    width: 50%;
    height: 40%;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    font-size:30px;
    color: #ffffff;
    background-color: #b0e0e6;
}
        body
        {
                background-size: 1500px 760px;
                background-repeat: no-repeat;
		background-color:#BCC6CC;
        }
</style>

</head>
<body>
<div  class="wrapper">

<table  id = "tab" border="1">
        <caption>Census Data 2013</caption>
        <tr>
                <th>ID</th>
                <th width=344px>Sex</th>
                <th width=400px >Year</th>
               
      </tr>
</table>

</div>

</html>